body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

@media (max-width: 1140px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1140px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.vertical-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.main-title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 1140px) {
  .title {
    font-size: 28px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #f5f5f5;
}

.page-header__container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.logo--blue-text {
  color: #2196f3;
}

.header__logo--black-text {
  color: #000000;
}

.nav__link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  font-size: 40px;
}
@media (max-width: 768px) {
  .nav__link {
    line-height: 47px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--current {
  color: #2196f3;
}
@media (min-width: 768px) {
  .nav__link {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .contact__list {
    padding: 0;
  }
  .nav__link {
    padding: 32px 0;
  }
  .nav__list {
    display: flex;
  }
  .nav__list-item:not(:last-child) {
    margin-right: 50px;
  }
}
@media (min-width: 1140px) {
  .contact__list {
    display: flex;
    margin-left: auto;
  }
  .header__logo {
    margin-right: 93px;
  }
  .contact__list-item:not(:last-child) {
    margin-right: 50px;
  }
}
.contact__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1140px) {
  .contact__link {
    font-size: 12px;
  }
}
@media (min-width: 1140px) {
  .contact__link {
    font-size: 14px;
    padding: 32px 0;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media (min-width: 768px) and (max-width: 1140px) {
  .contact__list-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.page-header__menu-container {
  display: none;
}
@media (max-width: 768px) {
  .page-header__menu-container {
    overflow: auto;
  }
  .page-header__menu-container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 40px;
    background-color: #fff;
    z-index: 5;
  }
}

.menu-nav__list-item {
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .page-header__nav,
.contact__list {
    display: none;
  }
  .page-header__container {
    display: flex;
    max-width: 480px;
  }
}
@media (max-width: 1140px) {
  .page-header__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
  }
}
.contact__icon {
  margin-right: 10px;
  border: none;
}
@media (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}

.page-header__menu-button {
  height: 50px;
  width: 50px;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99;
  background-color: transparent;
  border-radius: 5px;
  margin-left: auto;
}

.icon-cross {
  display: none;
}

.page-header__menu-button.is-open .icon-cross {
  display: block;
}
.page-header__menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu__socials-list {
  display: flex;
}

.mobile-menu__socials-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__socials-link:not(.last) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding: 0 10px;
}

.mobile-menu__socials-link.last {
  padding-left: 10px;
}

.menu-contact__list {
  margin-bottom: 64px;
}

.contact__link-number {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.contact__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

@media (min-width: 768px) {
  .page-header__menu-button,
.page-header__menu-container {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav__link--current::after {
    content: "";
    background-color: #2196f3;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 2px;
    bottom: -1px;
  }
}
.hero-section {
  padding: 0;
}

.hero-section__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-imgmobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section__container {
    background-image: url(../images/hero-imgmobile_2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero-section__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-imgtablet.jpg);
  }
}
@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section__container {
    background-image: url(../images/hero-imgtablet_2x.jpg);
  }
}
@media (min-width: 768px) and (min-width: 1140px) {
  .hero-section__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
  }
}
@media (min-width: 768px) and (min-width: 1140px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-width: 1140px) and (min-resolution: 192dpi), (min-width: 768px) and (min-width: 1140px) and (min-resolution: 2dppx) {
  .hero-section__container {
    background-image: url(../images/hero-img_2x.jpg);
  }
}

.hero-section__main-title {
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 768px) and (max-width: 1140px) {
  .hero-section__container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .hero-section__container {
    max-width: 480px;
  }
}
@media (max-width: 1140px) {
  .hero-section__container {
    height: 400px;
  }
}
@media (min-width: 1140px) {
  .hero-section__container {
    height: 600px;
  }
}
@media (max-width: 1140px) {
  .hero-section__main-title {
    max-width: 360px;
    font-size: 26px;
  }
}
@media (min-width: 1140px) {
  .hero-section__main-title {
    max-width: 696px;
    font-size: 44px;
  }
}
.hero-section__modal-button {
  min-height: 50px;
  min-width: 216px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.hero-section__modal-button {
  display: flex;
  font-family: inherit;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5;
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  padding: 40px;
  z-index: 10;
}
@media (max-width: 1140px) {
  .modal-container {
    width: 450px;
    height: 100hv;
  }
}
@media (min-width: 1140px) {
  .modal-container {
    min-width: 528px;
  }
}

.modal-form {
  width: 100%;
}

.modal-form__label-item {
  margin-bottom: 10px;
}

.modal-form__label-data {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__input-container {
  position: relative;
}

.modal-form__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  left: 12px;
  bottom: 0px;
}

.modal-form__label--hovered:hover {
  fill: #2196f3;
}
.modal-form__label--hovered:hover .modal-form__input--selected {
  border-color: #2196f3;
}

.modal-form__input--selected:focus {
  outline: 1px solid #2196f3;
  border-color: #2196f3;
}
.modal-form__input--selected:focus + .modal-form__icon--hovered {
  fill: #2196f3;
}

.modal-form__comment-area {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal-form__comment-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-input {
  appearance: none;
}

.modal-form__checkbox {
  display: flex;
  position: relative;
}

.modal-form__checkbox-icon {
  position: absolute;
}
.modal-form__checkbox-icon--checked {
  visibility: hidden;
}
@media (max-width: 1140px) {
  .modal-form__checkbox-icon {
    left: 0;
    bottom: 5px;
  }
}
@media (min-width: 1140px) {
  .modal-form__checkbox-icon {
    left: 12px;
    bottom: 5px;
  }
}

.modal-form__checkbox-input--checked:checked + .modal-form__checkbox-icon {
  visibility: hidden;
}
.modal-form__checkbox-input--checked:checked ~ .modal-form__checkbox-icon--checked {
  visibility: visible;
}

.modal-form__checkbox-data {
  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;
  margin-left: auto;
}
@media (min-width: 1140px) {
  .modal-form__checkbox-data {
    font-size: 14px;
    margin-right: 11px;
  }
}

.modal-form__checkbox-link {
  text-decoration: underline;
  color: #2196f3;
}

.modal-checkbox-label:hover {
  cursor: pointer;
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__submit-button {
  padding: 10px 55px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.modal-form__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal-form__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__close-button--selected:hover > .modal-form__close-icon--selected, .modal-form__close-button--selected:focus > .modal-form__close-icon--selected {
  fill: #2196f3;
}

@media (min-width: 1140px) {
  .qalities-section {
    padding-bottom: 0;
  }
}

.qalities-section__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .qalities-section__title {
    text-align: center;
  }
}

.qalities-section__data {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.qalities-section__icon-container {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .qalities-section__icon-container {
    max-width: 450px;
  }
}
@media (min-width: 1140px) {
  .qalities-section__icon-container {
    max-width: 270px;
  }
  .qalities-section__list {
    display: flex;
  }
  .qalities-section__list-item {
    max-width: 270px;
    margin-bottom: 0;
  }
  .qalities-section__list-item:not(:last-child) {
    margin-right: 30px;
  }
}
.qalities-section__icon {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1140px) {
  .qalities-section__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .qalities-section__list-item {
    max-width: 354px;
  }
  .qalities-section__list-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .qalities-section__list-item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .qalities-section__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 1140px) {
  .doing-section {
    display: none;
  }
}
.doing-section__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.doing-section__item {
  position: relative;
}
.doing-section__item:not(:last-child) {
  margin-right: 30px;
}

.doing-section__data-container {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.doing-section__data {
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.doing-section__img {
  max-width: 100%;
}

.team-section {
  background-color: #f5f4fa;
}

.team-section__list-container {
  padding: 0;
}
@media (max-width: 768px) {
  .team-section__list-container {
    max-width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .team-section__list-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.team-section__item {
  background-color: #ffffff;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media (max-width: 768px) {
  .team-section__item {
    margin-top: 30px;
    min-width: 450px;
  }
}
@media (min-width: 1140px) {
  .team-section__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .team-section__item {
    min-width: 354px;
  }
  .team-section__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .team-section__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

.team-section__person-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1140px) {
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1140px) {
  .team-section__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.team-section__person-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-section__person-position {
  margin-bottom: 16px;
}

.team-section__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-section__socials-link:not(.last) {
  margin-right: 10px;
}

.team-section__socials-link--selected:hover, .team-section__socials-link--selected:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.clients-section__link {
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 768px) {
  .clients-section__link {
    width: 210px;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .clients-section__link {
    width: 226px;
  }
}
@media (min-width: 1140px) {
  .clients-section__link {
    width: 170px;
  }
}

@media (max-width: 1140px) {
  .clients-section__container {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .clients-section__container {
    width: 768px;
  }
}

.clients-section__list {
  display: flex;
  justify-content: center;
}
@media (max-width: 1140px) {
  .clients-section__list {
    flex-wrap: wrap;
  }
}

.clients-section__link--selected:hover, .clients-section__link--selected:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

@media (max-width: 768px) {
  .clients-section__list-item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .clients-section__list-item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .clients-section__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-section__list-item:nth-child(-3n+3) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1140px) {
  .clients-section__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1140px) {
  .page-footer__container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .page-footer__vertical-container {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1140px) {
  .page-footer__vertical-container {
    margin: 0 auto;
  }
  .page-footer__socials-section {
    margin: 0 auto;
  }
  .page-footer__top-container {
    display: flex;
    justify-content: space-around;
  }
  .page-footer__subscribe-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
}
@media (min-width: 1140px) {
  .page-footer__top-container {
    display: flex;
  }
}
.page-footer__logo--white-text {
  color: #ffffff;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media (min-width: 1140px) {
  .footer-address {
    width: 230px;
  }
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: #2196f3;
}

.footer-address__map-link {
  color: #ffffff;
}

.page-footer__text {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

@media (min-width: 1140px) {
  .page-footer__socials-section {
    margin-top: 12px;
    margin-right: 93px;
    margin-left: 70px;
    margin-bottom: auto;
  }
}
@media (max-width: 768px) {
  .page-footer__socials-section {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

.socials-section__list {
  display: flex;
  justify-content: center;
}
.socials-section__list .socials-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-section__list .socials-section__link:not(.last) {
  margin-right: 10px;
}
.socials-section__list .socials-section__link:hover, .socials-section__list .socials-section__link:focus {
  background-color: #2196f3;
}

@media (min-width: 1140px) {
  .page-footer__subscribe-section {
    margin-top: 12px;
  }
  .subscribe-section__container {
    display: flex;
    padding-left: 0;
  }
}
.subscribe-section__input {
  height: 50px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1140px) {
  .subscribe-section__input {
    width: 450px;
  }
}
@media (min-width: 1140px) {
  .subscribe-section__input {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
  }
}
.subscribe-section__container:hover > .subscribe-section__input {
  border-color: #2196f3;
}
.subscribe-section__input:focus {
  border-color: #2196f3;
}

.submit-button {
  background-color: #2196f3;
  color: #ffffff;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
}

.subscribe-section__submit-button {
  padding: 10px 28px;
}

.submit-button__svg {
  margin-left: 10px;
}

@media (max-width: 1140px) {
  .page-footer__subscribe-section {
    text-align: center;
  }
  .subscribe-section__submit-button {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
}
@media (max-width: 1140px) {
  .page-footer__subscribe-section {
    padding: 0;
  }
}

.portfolio-section {
  background-color: #ffffff;
  padding-bottom: 64px;
}

.portfolio-section__container {
  padding-left: 0;
  padding-right: 0;
}

.portfolio-section__filter-list {
  display: flex;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .portfolio-section__filter-list {
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .portfolio-section__filter-list {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .portfolio-section__filter-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.portfolio-section__filter-item {
  margin-right: 8px;
}
@media (max-width: 768px) {
  .portfolio-section__filter-item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.portfolio-section__filter-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section__filter-button--last {
  margin: 0;
}

.portfolio-section__filter-button--selected:hover, .portfolio-section__filter-button--selected:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section__project-list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1140px) {
  .portfolio-section__project-list {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .portfolio-section__project-list {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.portfolio-section__project-item {
  border: 1px solid transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}
@media (min-width: 1140px) {
  .portfolio-section__project-item {
    margin-bottom: 30px;
  }
  .portfolio-section__project-item:not(:nth-child(3n+3)) {
    margin-right: 26px;
  }
}
@media (max-width: 768px) {
  .portfolio-section__project-item {
    width: 450px;
  }
  .portfolio-section__project-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .portfolio-section__project-item {
    width: 354px;
  }
  .portfolio-section__project-item:not(.last) {
    margin-bottom: 30px;
  }
}

.portfolio-section__overflow-container {
  display: flex;
  position: absolute;
  height: 294px;
  bottom: 107px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  z-index: 1;
  align-items: center;
  color: #ffffff;
}
@media (max-width: 768px) {
  .portfolio-section__overflow-container {
    width: 450px;
  }
}
@media (min-width: 768px) and (max-width: 1140px) {
  .portfolio-section__overflow-container {
    width: 354px;
  }
}

.portfolio-section__project-item--selected:hover, .portfolio-section__project-item--selected:focus {
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-section__project-item--selected:hover .portfolio-section__overflow-container--hovered {
  transform: translateY(0);
}

.portfolio-section__data-container {
  position: relative;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  z-index: 2;
}

@media (min-width: 768px) and (max-width: 1140px) {
  .portfolio-section__data-container.first {
    padding-bottom: 56px;
  }
}

.portfolio-section__project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-section__project-data {
  line-height: 1.67;
  letter-spacing: 0.03em;
  padding-right: 24px;
}
@media (max-width: 768px) {
  .portfolio-section__project-data {
    font-size: 18px;
    line-height: 156%;
  }
}

.portfolio-section__overflow-data {
  line-height: 1.67;
  letter-spacing: 0.03em;
  padding-right: 24px;
  padding-left: 24px;
}
@media (max-width: 768px) {
  .portfolio-section__overflow-data {
    font-size: 18px;
    line-height: 156%;
  }
}

.portfolio-section__project-type {
  color: #757575;
}/*# sourceMappingURL=main.css.map */