.portfolio-section {
  background-color: $--primary-white-color;
  padding-bottom: 64px;
}

.portfolio-section__container {
  padding-left: 0;
  padding-right: 0;
}

// filters

.portfolio-section__filter-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.portfolio-section__filter-item {
  margin-right: 8px;
}

.portfolio-section__filter-button {
  @include portfolio-section__filter-button-text;
  background-color: $--third-bacground-color;
  border: 0;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &--last {
    margin: 0;
  }
}

.portfolio-section__filter-button--selected {
  &:hover,
  &:focus {
    background-color: $--accent-text-color;
    color: $--primary-white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// projects

.portfolio-section__project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-section__project-item {
  margin-bottom: 30px;
  border: 1px solid transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
  &:not(:nth-child(3n + 3)) {
    margin-right: 26px;
  }
}

.portfolio-section__overflow-container {
  display: flex;
  position: absolute;
  width: 370px;
  height: 294px;
  bottom: 107px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  z-index: 1;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  color: $--primary-white-color;
}

.portfolio-section__project-item--selected {
  &:hover,
  &:focus {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-section__overflow-container--hovered {
    transform: translateY(0);
  }
}

.portfolio-section__data-container {
  position: relative;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  z-index: 2;
}

.portfolio-section__project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-section__project-data {
  line-height: 1.67;
  letter-spacing: 0.03em;
}

.portfolio-section__project-type {
  color: $--primary-text-color;
}
