.qalities-section {
  @media (min-width: 1140px) {
    padding-bottom: 0;
  }
}

.qalities-section__container {
  @media (min-width: 768px) and (max-width: 1140px) {
    min-width: 800px;
  }
}

.qalities-section__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media (max-width: 768px) {
    text-align: center;
  }
}

.qalities-section__data {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.qalities-section__icon-container {
  display: flex;
  height: 120px;
  background-color: $--third-bacground-color;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

@media (max-width:480px) {
.qalities-section__icon-container {
  max-width: 450px;
}  
}

@media (min-width: 1140px) {
  .qalities-section__icon-container {
  max-width: 270px;
  }

.qalities-section__list {
  display: flex;
}

.qalities-section__list-item {
  max-width: 270px;
  margin-bottom: 0;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
}

.qalities-section__icon {
  display: flex;
}

@media (min-width: 768px) and (max-width:1140px) {
  .qalities-section__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.qalities-section__list-item {
  max-width: 354px;
  &:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  &:nth-child(2n+1) {
    margin-right: 30px;
  }
}
  }

@media (max-width: 768px) {
  .qalities-section__list-item:not(:last-child) {
margin-bottom: 30px;
  }
}  